@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
app {
  width: 100vw;
}

:root {
  --title-font: "Quicksand", sans-serif;
  --title-size: 48px;
  --text-font: "Quicksand", sans-serif;
  --text-size: 18px;
  box-sizing: border-box;
  --MainColor: #14213d;
  --color2: #ffffff;
  --color3: #fca311;
  --color4: #e5e5e5;
  --color5: #000000;
  --labelbackground: #8b8b8b;
}

h1 {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 48px;
}
p {
  font-family: var(--text-font);
  font-weight: 400;
}
li,
a {
  list-style-type: none;
  text-decoration: none;
}
/* VARIABLES GLOBALES */
