@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-primary: 20 33 61;
    --color-secondary: 252 163 17;
    --color-third: 229 229 229;
  }
}

/* RESET */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
}

:root {
  --title-font: "Quicksand", sans-serif;
  --title-size: 48px;
  --text-font: "Quicksand", sans-serif;
  --text-size: 18px;
  box-sizing: border-box;
  --MainColor: #14213d;
  --color2: #ffffff;
  --color3: #fca311;
  --color4: #e5e5e5;
  --color5: #000000;
}

h1 {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 48px;
}
p {
  font-family: var(--text-font);
  font-weight: 400;
}
.a {
  list-style: none;
  text-decoration: none;
  color: var(--color2);
}

/* VARIABLES GLOBALES */

/*NAVBAR */
.navbar {
  background-color: var(--MainColor);
}
.nav-items {
  color: var(--color2);
}
.nav-items:hover {
  color: var(--color3);
}

/*NAVBAR */

#loginpage {
  background-image: url(./assets/background-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#observations {
  background-image: url(./assets/background-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#cardprofilepicture {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 64px;
  width: 64px;
}
#logout {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 64px;
  width: 64px;
}

#updateobservation {
  background-image: url(./assets/PYSAGE-SLEEPIEST.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#updateform input,
#updateform textarea {
  background-color: #e5e5e5;
  border-radius: 3px;
  color: var(--MainColor);
  font-weight: 600;
}
#newobservation {
  background-image: url(./assets/parallaxe-sky.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#deletebutton {
  color: #e5e5e5;
  background-color: red;
}

#profilepage {
  background-image: url(./assets/background-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#observationcards {
  background-color: #e5e5e5;
}

/*RESPONSIVE */

@media screen and (max-width: 1024px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  .nav-items {
    margin-bottom: 2rem;
  }
  #menu-wrapper {
    justify-content: space-between;
    padding: 1rem;
  }
  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #observationcards {
    width: 50%;
  }
  #filterinput {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #filterinput input {
    width: 40%;
    text-align: center;
  }
  #cardprofilepicture {
    height: 32px;
    width: 32px;
  }
}
