@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-primary: 20 33 61;
    --color-secondary: 252 163 17;
    --color-third: 229 229 229;
  }
}

/* RESET */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  width: 99vw;
  height: 99vh;
}

:root {
  --title-font: "Montserrat";
  --title-size: 48px;
  --text-font: "Quicksand", sans-serif;
  --text-size: 18px;
  box-sizing: border-box;
  --MainColor: #14213d;
  --color2: #ffffff;
  --color3: #fca311;
  --color4: #e5e5e5;
  --color5: #000000;
}

h1 {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 48px;
}
h2 {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 32px;
}
h3 {
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 18px;
}

p {
  font-family: var(--text-font);
  font-weight: 400;
}
.a {
  list-style: none;
  text-decoration: none;
  color: var(--color2);
}

/* VARIABLES GLOBALES */

/*NAVBAR */

.navbar {
  background-color: var(--MainColor);
}
.nav-items {
  color: var(--color2);
  font-weight: bold;
}
.nav-items:hover {
  color: var(--color3);
}

/*NAVBAR */

#loginpage {
  background-image: url(./assets/background-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#observations {
  background-image: url(./assets/background-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#cardprofilepicture {
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}
#logout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#logout img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#updateobservation {
  background-image: url(./assets/PYSAGE-SLEEPIEST.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#updateform input,
#updateform textarea {
  background-color: rgb(233, 222, 222);
  border-radius: 3px;
  color: var(--MainColor);
  font-weight: 600;
}
#newobservation {
  background-image: url(./assets/parallaxe-sky.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#deletebutton {
  color: #e5e5e5;
  background-color: red;
}

#profilepage {
  background-image: url(./assets/background-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#observationcards {
  cursor: pointer;
  background-color: rgb(236, 242, 245);
}

#picture {
  max-height: 400px;
  min-height: 350px;
}
#more {
  margin-bottom: 0px !important;
  transform: rotate(90deg);
  font-size: 2rem;
  display: flex;
  background-color: transparent;
}
#more:hover {
  color: white;
}
#more img {
  width: 30px;
}
#modal {
  height: 60px;
  position: flex;
}

#modal img {
  width: 20px;
  height: 20px;
}

#modal img:hover {
  transform: scale(1.3);
}

#button {
  background-color: var(--color3);
  color: #000000;
  font-weight: bold;
}
#button:hover {
  transform: scale(1.1);
  background-color: var(--color3);
  color: white;
  font-weight: bold;
}

#signin-btn {
  color: var(--MainColor);
  font-weight: bold;
}
#signin-btn:hover {
  transform: scale(1.05);
}
#delete:hover {
  color: red;
}
#update:hover {
  color: rgb(118, 197, 223);
}

/*RESPONSIVE */

@media screen and (max-width: 1024px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  #menu-wrapper {
    justify-content: space-evenly;
    padding: 0;
  }
  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #observationcards {
    width: 50%;
  }
  #filterinput {
    flex-direction: column;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #filterinput input {
    width: 40%;
    text-align: center;
  }
  #cardprofilepicture {
    height: 32px;
    width: 32px;
  }
  #loginpage {
    flex-direction: column;
    justify-content: center;
  }
  #loginleft {
    background-color: transparent;
    height: 30%;
    justify-content: flex-start;
    width: 100% !important;
  }
  #loginleft h1 {
    display: none;
  }
  #logowrapper {
    width: 100vw;
    margin: auto;
    width: 200px;
    max-height: 200px;
  }
  #signintext {
    display: none;
  }
  #signinbox {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
}
